/* Work sans Font from Google  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1440px;
}

/* Heading section starts */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 40px 160px;
}
.head-title {
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  color: #0b0223;
}
.nav-title {
  display: flex;
  align-items: center;
}
nav img {
  width: 90px;
  height: 40px;
}
nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 32px;
  font-size: 1.2rem;
  font-weight: 500;
}
nav li a {
  text-decoration: none;
  color: #3c354f;
}
.follow {
  font-size: 1.2rem;
  margin: 0px;
}
nav li a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-head {
  padding: 8px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  border: 0;
}

/* Banner section styles */

.banner-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 90px;
}
.banner-head {
  padding-left: 120px;
  background-image: ;
}
.banner-head h1 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
}
.banner-head li {
  list-style: none;
  margin-bottom: 15px;
}
.banner-head li a {
  text-decoration: none;
  font-size: 1rem;
}
.goat {
  font-size: 95px;
  font-style: normal;
  font-weight: 800;
  color: #b335be;
}
.btn-primary {
  padding: 22px 40px;
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  border: 0;
  margin-top: 40px;
}
.btn-banner {
  padding: 22px 40px;
  border-radius: 48px;
  background: #4ec5f7;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  border: 0;
  margin-left: 15px;
}
.banner-img {
  width: 50%;
  height: 50%;
  margin: 10px 100px 0 5px;
}

/* Online Section Statrs */

.online-game-container {
  text-align: center;
  margin: 0 160px;
}
.section-title {
  color: #0b0223;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 120px;
}
.section-desc {
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 15px;
}
.online-image-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.online-img img {
  width: 300px;
  margin-top: 40px;
}

/* Play instantly section styles */

.play-instantly {
  display: flex;
  gap: 30px;
  margin-top: 120px;
}
.play-title {
  text-align: right;
  margin-right: 40px;
}
.play-desc {
  text-align: right;
  margin-right: 40px;
}
.play-head {
  margin: 0 60px;
}
.play-img1 {
  margin-right: 30px;
}
.play-img2 {
  width: 145px;
  height: 215px;
  position: relative;
  bottom: 200px;
  right: 80px;
}

/* Category Section styles */

.category-container {
  padding: 70px 210px;
  background: rgb(250, 229, 203);
}
.category-container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.category-container li {
  list-style: none;
}
.category-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 6px;
  border-radius: 50px;
  background: #fff;
  border: 0;
  
}
.category-container button:hover{
  cursor: ;
}
.category-container a{
  text-decoration: none;
}
